<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div><a href="{% url 'students' %}">Student REcords</a></div>
        <div><a href="{% url 'faculties' %}">Faculty records</a></div>
        <div><a href="{% url 'departments' %}">Deparment records</a></div>
    </div>
    <br>
    <div>
        <div><a href="{% url 'stu_C' %}">Create student records</a></div>
        <div><a href="{% url 'fac_C'%}">Cerate faculty</a></div>
        <div><a href="{% url 'dept_C'%}">Create deparment</a></div>
    </div>
</body>
</html>